@import "../bower_components/bootstrap/dist/css/bootstrap.css";

.halp {
	text-decoration: none;
	border-bottom: 1px dotted #444;
	display: inline-block;
	margin: 0 2px;
	padding: 0 2px;
}

@media screen and (min-width: 780px) {
	.container {
		width: 680px;
	}
}